
@{
    ViewData["Title"] = "About Us";
}

<main role="main" id="aboutUsSection">
    <div class="layout-main_content">
        <div class="banner-section">
            <div class="hero">
                <div class="hero-inner align-items-sm-center">
                    <div class="hero-body">
                        <h1 class="hero-heading">
                            About Us
                        </h1>
                    </div>
                </div>
                <picture class="hero-picture">
                    <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0541/0272/0705/files/AboutUs-2880x460_1920x.progressive.png.jpg?v=1636477535">
                    <img src="https://cdn.shopify.com/s/files/1/0541/0272/0705/files/AboutUS-750x230_576x.progressive.png.jpg?v=1636477543" alt="About Us Picture">
                </picture>
            </div>
        </div>
        <div id="since-section">
            <div class="rich-text-bg" style="background-color: #ffffff;">
                <div class="container">
                    <div class="rich-text-wrapper">
                        <h2 class="richtext__title text-center">
                            Since 1998
                        </h2>
                        <div class="richtext__content text-md-center">
                            <p>
                                Nixon has been the premium lifestyle accessory brand of choice for independents, creatives, and free-thinkers the world over.
                                What co-founders Chad DiNenna and Andy Laats started in Encinitas, California as a boutique line of watches exclusively sold
                                at board sports and fashion retailers is now a full range of watches, bags, leather goods, and accessories. Sold in over 90
                                countries, we've built a global following of people living unbound lives and bringing our products along for the ride.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="since-content-section">
            <div class="pb-5" style="background-color: #ffffff;">
                <div class="container">
                    <div class="d-lg-flex flex-lg-row align-items-lg-center">
                        <div class="fifty-media-container order-1">
                            <div class="fifty-image-container">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0541/0272/0705/files/Rectangle_58_1920x.progressive.jpg?v=1636477560" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-lg-offset-1 ps-lg-5 order-2">
                            <div class="fifty-content">
                                <h4 class="fifty-title mt-4" style="color: #000000;">
                                    Team Designed, Custom Built.
                                </h4>
                                <div class="fifty-description" style="color: #000000;">
                                    <p>
                                        Our mantra from the beginning was to use the talent of our team to bring our vision to life.
                                        We work with our diverse group of athletes, musicians, makers, artists, and activists whose
                                        ranks include John John Florence, Leila Hurst, and Zion Wright, to name a few. This select
                                        group helps us to identify new functions and to create objects that radiate style. Whether
                                        it comes in the form of making the perfect tide watch, snowboard-ready backpack, or just
                                        breaking the mold of traditional design, our team is the secret sauce that brings ideas
                                        to a different level.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="since-content-section">
            <div class="pb-5" style="background-color: #ffffff;">
                <div class="container">
                    <div class="d-lg-flex flex-lg-row align-items-lg-center">
                        <div class="fifty-media-container order-1 order-lg-2">
                            <div class="fifty-image-container">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0541/0272/0705/files/Rectangle_58_55f246da-be72-40da-a623-cee6579bd4d7_1920x.progressive.jpg?v=1636477572" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-lg-offset-1 ps-lg-5 order-2 order-lg-1">
                            <div class="fifty-content">
                                <h4 class="fifty-title mt-4" style="color: #000000;">
                                    Iconic Products
                                </h4>
                                <div class="fifty-description" style="color: #000000;">
                                    <p>
                                        Throughout Nixon's history, there have been certain designs that have become icons in their own right. The retro-futuristic luxury of The Player, the universal-appealing minimalism of the Time Teller, the rugged, high performance of the Regulus created in collaboration with the agents of the U.S. Special Operations corps, the classic design of the Sentry, or the unmistakable statement of the 51-30, all stand out as designs that set the style bar of the era. Then there are the innovative pieces like the cheeky, vocalized fun of the Dork and Dork Too, and the influential design experimentation of the Newton that push the envelope of both form and function.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="since-content-section">
            <div class="pb-5" style="background-color: #ffffff;">
                <div class="container">
                    <div class="d-lg-flex flex-lg-row align-items-lg-center">
                        <div class="fifty-media-container order-1">
                            <div class="fifty-image-container">
                                <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0541/0272/0705/files/Rectangle_58_42f82a3d-8500-4503-a92e-0d7e920c09c3_1920x.progressive.jpg?v=1636477589" alt="">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-lg-offset-1 ps-lg-5 order-2">
                            <div class="fifty-content">
                                <h4 class="fifty-title mt-4" style="color: #000000;">
                                    A Collaborative Effort
                                </h4>
                                <div class="fifty-description" style="color: #000000;">
                                    <p>
                                        Thanks to the network of our global team, we've been able to collaborate with some of the world's most influential figures in producing groundbreaking collaborations. From Metallica to Mickey Mouse, Santa Cruz to Star Wars, these products capture the essence of the partner's aesthetic through the Nixon lens and bring fans of both parties together. Look for new unexpected collections and collaborations each season.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two-way_section">
            <div class="container">
                <div class="content-header">
                    <h3 class="content-header_title">
                        A Two-Way Conversation
                    </h3>
                    <div class="content-header__subtitle">
                        <p>
                            Need Help? Our CS team is live
                            <strong>
                                M-Th 8:00am - 5:00pm PST and F 9:00am - 5:00pm PST
                            </strong>
                            <a href="https://www.instagram.com/nixon/" title="https://www.instagram.com/nixon/" target="_blank">Instagram</a>
                            ,
                            <a href="https://www.facebook.com/nixon" title="https://www.facebook.com/nixon" target="_blank">Facebook</a>
                            ,
                            <a href="https://twitter.com/nixon_now" title="https://twitter.com/nixon_now" target="_blank">Twitter.</a>
                        </p>
                    </div>
                </div>
                @(await Component.InvokeAsync("TwoWayConversation"))
            </div>
        </div>
    </div>
</main>

