@model Dictionary<string, string>
    <div class="content-grid justify-content-sm-center align-items-sm-center align-items-start flex-column flex-lg-row">
        <div class="icon-grid__item col-lg-3 col-xxl-2 my-4 my-xl-0">
            <div class="icon-grid__item-inner d-flex  flex-row flex-lg-column justify-content-sm-center align-items-lg-center mx-auto">
                <div class="icon-bg d-flex justify-content-center align-items-center" style="background-color: #f5f6f6; border: 1px solid #f5f6f6; width: 75px; height: 75px;">
                    <img src="https://cdn.shopify.com/s/files/1/0541/0272/0705/files/Vector_3_150x.png?v=1636477622" alt="Clickable mail icon for sending Nixon customer service message.">
                </div>
                <div class="icon-grid__item-content d-flex flex-column align-items-lg-center  align-items-start">
                    <h4></h4>
                    <p>
                        <a asp-controller="ContactUs" asp-action="Index">
                            Message Us
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="icon-grid__item col-lg-3 col-xxl-2 my-4 my-xl-0">
            <div class="icon-grid__item-inner d-flex  flex-row flex-lg-column justify-content-sm-center align-items-lg-center mx-auto">
                <div class="icon-bg d-flex justify-content-center align-items-center" style="background-color: #f5f6f6; border: 1px solid #f5f6f6; width: 75px; height: 75px;">
                    <img src="https://cdn.shopify.com/s/files/1/0541/0272/0705/files/Vector_2_150x.png?v=1636477635" alt="Clickable phone icon for calling customer service at Nixon.">
                </div>
                <div class="icon-grid__item-content d-flex flex-column align-items-lg-center  align-items-start">
                    <h4></h4>
                    <p>
                        <a href="tel:@Model.GetValueOrDefault("Phone")" title="tel:@Model.GetValueOrDefault("Phone")">
                            @Model.GetValueOrDefault("Phone")
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

